# ASR core
sherpa-onnx
numpy
gguf
onnxruntime-directml; sys_platform == "win32"
onnxruntime; sys_platform != "win32"
sentencepiece
soundfile
srt

# basic
rich
websockets
watchdog
pypinyin

# tray and image
pystray
Pillow

markdown
tkhtmlview
